@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IRANSans';
  src: url('../assets/fonts/IRANSansWeb_Medium.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


:root {
  --primary: #2563eb;
  --primary-light: #60a5fa;
  --primary-dark: #1e40af;

  background-color: rgb(255, 255, 255);
}

.rmdp-container {
  display: block !important;
}

body {
  margin: 0;
  direction: rtl;
  padding: 0;

  font-family: 'IRANSans' !important;
  color: #000000;
}








