@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Yekan-Bakh';
  src: url('./assets/fonts/Yekan-Bakh-FaNum-05-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}



:root {
  --primary: #2563eb;
  --primary-light: #60a5fa;
  --primary-dark: #1e40af;

  background-color: rgb(255, 255, 255);
}

.rmdp-container {
  display: block !important;
}

body {
  margin: 0;
  direction: rtl;
  padding: 0;

  font-family: 'Yekan-Bakh' !important;
  color: #000000;
}








